doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/webpack/monaco.bundle.js', type='text/javascript', defer='defer')
    script(src='/javascripts/monacoInit.js', type='text/javascript', defer='defer')
  body
    block content
